@{
	Layout = "_UserLayout";
}
@model CMS.Models.TblClientRegister
<main>
	<div class="bg_color_2">
		<div class="container margin_60_35">
			<div id="login">
				<h1>Please login to Providence Clinic!</h1>
				@if (TempData["Alertmsg"] != null)
				{
					<div class="alert alert-danger">
						@TempData["Alertmsg"]
					</div>
				}
				
				<div class="box_form">
					<form method="post">
						<div class="form-group">
							<input asp-for="Email" type="email" class="form-control" placeholder="Your email address">
						</div>
						<div class="form-group">
							<input asp-for="Password" type="password" class="form-control" placeholder="Your password" name="password" id="password">
						</div>
						
						<div class="form-group text-center add_top_20">
							<input class="btn_1 medium" type="submit" value="Login">
						</div>
					</form>
				</div>
				<p class="text-center link_bright">Do not have an account yet? <a asp-action ="Register" asp-controller="Home"><strong>Register now!</strong></a></p>
			</div>
			<!-- /login -->
		</div>
	</div>
</main>
<!-- /main -->