 @{
	Layout = "_AdminLayout";
}
@model CMS.Models.TblUpcomingEvent


<div class="content-wrapper">
	<div class="container-fluid">
		<!-- Breadcrumbs-->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">Dashboard</a>
			</li>
			<li class="breadcrumb-item active">Add Event</li>
		</ol>
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa fa-calendar"></i>Add Event</h2>
			</div>
					<form method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Topic</label>
							<input type="text" asp-for="Topic" class="form-control" placeholder="Event Topic" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Detail</label>
							<input type="text" asp-for="Details" class="form-control" placeholder="Event Details" required>
					</div>
				</div>
			</div>
			<!-- /row-->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Date</label>
							<input type="date" asp-for="Date" class="form-control" placeholder="Date" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Time</label>
							<input type="time" asp-for="Time" class="form-control" placeholder="Time" required>
					</div>
				</div>
			</div>
			
			<!-- /row-->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>T-Seats</label>
							<input type="number" asp-for="TotalSeats" min="100" max="2000" class="form-control" placeholder="Total Seats" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Staff/Faculty</label>
							<input type="text" asp-for="Faculty" class="form-control" placeholder="Faculty" required>
					</div>
				</div>
			</div>

			<!-- /row-->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Fees</label>
							<input type="number" asp-for="EntryFee" class="form-control" placeholder="Fees" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Location</label>
							<input type="text" asp-for="Location" class="form-control" placeholder="Location" required>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label>Banner</label>
						<input type="file" name="banner" class="form-control" required>
					</div>
				</div>
			</div>

			<input type="submit" class="btn_1 medium" value="Submit" />
			</form>
			<!-- /row-->
			
		</div>
